@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,16..72,100..900;1,16..72,100..900&display=swap');

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.fear-box {
  background-color: #ff1c42;
  color: white;
  padding: 80px 120px;
  font-size: 48px;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.button-group {
  display: flex;
  gap: 40px;
}

.nav-button {
  background-color: #ffffff;
  color: #000000;
  padding: 18px 40px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: 2px solid white;
  transition: 0.3s ease;
 
}

.nav-button:hover {
  background-color: transparent;
  color: white;
}

